body{
  margin:0;
  font-family:Segoe UI, sans-serif;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  text-align:center;
}

h1{
  margin:20px 0;
  color:#00ffd5;
}

.tiles{
  display:flex;
  justify-content:center;
  gap:60px;
  margin-top:80px;
}

.tile{
  width:260px;
  height:160px;
  border-radius:25px;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(12px);
  border:3px solid rgba(255,255,255,0.2);
  font-size:2rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:0.3s;
}

.tile.active{
  border-color:#00ff00;
  box-shadow:0 0 25px #00ff00;
}

.letterTile{
  margin:50px auto;
  width:260px;
  height:260px;
  background:rgba(255,255,255,0.15);
  border-radius:30px;
  font-size:10rem;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow:0 0 30px rgba(0,255,255,0.4);
}

.sentence{
  font-size:4rem;
  margin-top:30px;
  color:#ffeb3b;
}

.question{
  font-size:3rem;
  margin-top:60px;
}

.progress{
  width:0%;
  height:8px;
  background:#00ff00;
  border-radius:10px;
  margin-top:15px;
}

.progress.big{
  height:12px;
  width:0%;
  margin:30px auto;
}

#cameraCanvas{
  position:fixed;
  bottom:10px;
  right:10px;
  width:320px;
  height:240px;
  border-radius:15px;
  border:2px solid white;
}
