body{
  background: radial-gradient(circle,#0f0f1a,#050508);
  color:white;
  font-family:Segoe UI;
  text-align:center;
}

h1{
  font-size:3rem;
  color:#00ffcc;
  margin-bottom:20px;
}

.tiles{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px 50px;
}

.tile{
  width:200px;
  height:150px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:20px;
  background:#111;
  border:4px solid #333;
  font-size:2rem;
  transition:all 0.2s;
  cursor:pointer;
}

.tile.active{
  border-color:#00ff00;
  transform:scale(1.1);
}

.fill-bar{
  position:absolute;
  bottom:0;
  left:0;
  width:0%;
  height:8px;
  background:#00ff00;
  border-radius:0 0 20px 20px;
  transition: width 0.1s linear;
}

#menuCamera, #alphabetCamera{
  border:2px solid #fff;
  display:block;
  margin:0 auto 20px;
}

/* ALFABET */
.alphabet{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:10px;
  margin-top:20px;
}

.letter{
  width:100px;
  height:100px;
  line-height:100px;
  font-size:3rem;
  border-radius:15px;
  border:2px solid #333;
  text-align:center;
  background:#111;
  color:#00ffcc;
  transition:all 0.2s;
}

.letter.active{
  background:#00ff00;
  color:#000;
  font-weight:bold;
  transform:scale(1.2);
}

.sentence{
  font-size:2rem;
  margin-top:20px;
  min-height:50px;
}

.progressBar{
  width:80%;
  height:12px;
  background:#333;
  margin:10px auto;
  border-radius:6px;
}

.progressBar div{
  height:100%;
  width:0%;
  background:#00ff00;
  border-radius:6px;
  transition: width 0.1s linear;
}

.topAction, .bottomAction{
  font-size:1.5rem;
  padding:10px;
  margin:10px auto;
  width:250px;
  border-radius:15px;
  background:#111;
  border:2px solid #333;
  cursor:pointer;
  transition:all 0.2s;
}

.topAction:hover, .bottomAction:hover{
  border-color:#00ffcc;
}

