body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
}

#statusBar{
display:flex;
justify-content:space-between;
padding:10px 30px;
background:rgba(0,0,0,.4);
}

.tiles{
display:flex;
justify-content:center;
gap:60px;
margin-top:50px;
}

.tile{
width:260px;height:160px;
background:rgba(255,255,255,.15);
border-radius:25px;
display:flex;
align-items:center;
justify-content:center;
font-size:2rem;
}

.tile.active{
box-shadow:0 0 30px #00ff88;
}

.letterTile{
margin:30px auto;
width:220px;height:220px;
border-radius:30px;
background:rgba(255,255,255,.2);
font-size:9rem;
display:flex;
align-items:center;
justify-content:center;
}

.sentenceBox{
width:70%;
margin:20px auto;
padding:20px;
background:rgba(0,0,0,.5);
border-radius:20px;
font-size:3rem;
color:#ffeb3b;
}

.cursor{animation:blink 1s infinite}
@keyframes blink{50%{opacity:0}}

#camCanvas{
position:fixed;
bottom:20px;
right:20px;
border-radius:15px;
border:2px solid white;
}

footer{
position:fixed;
bottom:0;width:100%;
padding:10px;
background:rgba(0,0,0,.4);
}
