body{
  background:#050508;
  color:white;
  font-family:Segoe UI, sans-serif;
  text-align:center;
  margin:0;
}

h1{
  color:#00ffcc;
  margin:20px 0;
}

.tiles{
  display:flex;
  justify-content:center;
  gap:60px;
  margin-top:80px;
}

.tile{
  width:260px;
  height:160px;
  background:#111;
  border-radius:25px;
  border:4px solid #333;
  font-size:2rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.tile.active{
  border-color:#00ff00;
}

.letterTile{
  margin:40px auto;
  width:260px;
  height:260px;
  background:#111;
  border:5px solid #00ffcc;
  border-radius:30px;
  font-size:10rem;
  display:flex;
  align-items:center;
  justify-content:center;
}

.sentence{
  font-size:4rem;
  margin-top:30px;
  min-height:70px;
  color:#ffcc00;
}

.progress{
  width:0%;
  height:8px;
  background:#00ff00;
  border-radius:10px;
  margin-top:15px;
  transition:width 0.1s linear;
}

.progress.big{
  width:0%;
  height:12px;
  margin:20px auto;
}

#cameraCanvas{
  position:fixed;
  bottom:10px;
  right:10px;
  width:320px;
  height:240px;
  border:2px solid white;
}
